body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    
   
}

/*header styles*/

header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

#header {
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

#header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
}

#header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

#header p {
    
    margin-top: 0;
    margin-bottom: 0;

}

/*main content*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: 
    "Supervisor Builder Calculator" 
    "Supervisor Karma Calculator";
    padding-left: 10%;
    padding-right: 10%;  
    padding-bottom: 80px; 
}

#Supervisor {
    grid-area: Supervisor;
    border-top: 4px solid hsl(180, 62%, 55%);
}

#Builder {
    grid-area: Builder;
    border-top: 4px solid hsl(0, 78%, 62%);
}

#Karma {
    grid-area: Karma;
    border-top: 4px solid hsl(34, 97%, 64%)
}

#Calculator {
    grid-area: Calculator;
    border-top: 4px solid hsl(212, 86%, 64%)
}

.box-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px hsl(229, 6%, 66%);
    border-radius: 5px;
    height: 240px;
    
    align-self: center;
    justify-self: center;
    width: 100%;
}

.box-text {
    padding-left: 30px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    padding-bottom: 2em;
}


/*footer styles*/

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/*responsive mobile*/

@media screen and (max-width: 920px) {
    .box-container {
      width: 100%;
      margin-bottom: 30px;
    }
    .grid-container {
        display: flex;
        flex-flow: column;
        
    }
    #header p {
        margin-top: 0;
        width: 400px;
    }

}   